.photo-gallery {
    height: 600px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.gallery-wrapper {
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.image-slider {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.image-track {
    display: flex;
    transition: transform 0.3s ease;
    gap: 30px;
    height: 100%;
}

.gallery-image {
    flex: 0 0 auto;
    width: 30%;
    box-sizing: border-box;
}

.gallery-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-btn {
    position: absolute;
    top: 50%;
    height: 80px;
    width: 80px;
    transform: translateY(-50%);
    background-color: brown;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(250, 179, 92, 0.7);
}

@media (max-width: 768px) {
    .nav-btn {
        height: 50px;
        width: 50px;
    }
    .gallery-image {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .gallery-image {
        width: 100%;
    }
    .image-track {
        gap: 5px;
    }
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    position: relative;
    max-width: 600px;
    max-height: 90%;
    overflow: hidden;
}

.lightbox-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.close-btn,
.lightbox-nav {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    cursor: pointer;
    border: none;
}

.prev-lightbox {
    left: 10px;
}

.next-lightbox {
    right: 0;
}

.lightbox-caption {
    text-align: center;
    color: white;
    margin-top: 10px;
}
