{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bike Rental Table</title>
    <link rel="stylesheet" href="{%static 'assets/css/bike-tour.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/navbar1.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/footer.css'%}">

    <link rel="stylesheet" href="{%static 'assets/css/hotel-restaurant.css'%}">

    <script src="{% static 'assets/js/navbar.js' %}?{% now 'U' %}" defer></script>



</head>
<body>

    <nav>
        <ul class="sidebar">
          <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z"/></svg></a></li>
          <li><a href="{% url 'HOMEPAGE' %}">Pagina principale</a></li>
          <li><a href="{% url 'ABOUT' %}">Chi siamo</a></li>
          <li><a href="{% url 'LOCALLI' %}">Escursioni</a></li>
          <li><a href="{%url 'SERVIZI'%}">servizi</a></li>
        </ul>
        <ul>
          <li><a href="#"><img src="{%static 'assets/images/logo_sunriseinn.png'%}" class="logo"></a></li>
          <li class="hideOnMobile"><a href="{% url 'HOMEPAGE' %}">Pagina principale</a></li>
          <li class="hideOnMobile"><a href="{% url 'ABOUT' %}">Chi siamo</a></li>
          <li class="hideOnMobile"><a href="{% url 'LOCALLI' %}">Escursioni</a></li>
          <li class="hideOnMobile"><a href="{% url 'SERVIZI'%}">servizi</a></li>
          <li class="menu-button" onclick="showSidebar()">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="white" height="36" width="36" viewBox="0 96 960 960" width="26">
                    <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
                </svg>
            </a>
        </li>
            </ul>
      </nav>

    <!-- Header End -->
    <main>
        <!-- About Section Start -->
        <section class="BIKETOUR" id="about" style="background-image: url('{% static 'assets/images/bikebike.jpg' %}');">
            <div class="container">
                <div class="title">
                    <h2>Tour Guidati / Noleggio e-bike </h2>
                </div>

            </div>
        </section>
        
      
    
    
        
    
    
 
        <div class="containerz">
            <table class="rental-table">
                <thead>
                    <tr>
                        <th rowspan="2">Noleggi</th>
                        <th colspan="3">Prezzo a singolo cliente</th>
                    </tr>
                    <tr>
                        <th>Ebike FRONT/ RAGAZZO</th>
                        <th>Ebike FULL (*)</th>
                        <th>Ebike PREMIUM(**)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1/2gg</td>
                        <td>1gg</td>
                        <td>2gg</td>
                        <td>1/2gg</td>
                        <td>1gg</td>
                        <td>2gg</td>
                        <td>1/2gg</td>
                        <td>1gg</td>
                        <td>2gg</td>
                    </tr>
                    <tr>
                        <td>lun – ven</td>
                        <td>30 €</td>
                        <td>50 €</td>
                        <td>NA</td>
                        <td>40 €</td>
                        <td>60 €</td>
                        <td>NA</td>
                        <td>50 €</td>
                        <td>75 €</td>
                        <td>NA</td>
                    </tr>
                    <tr>
                        <td>sab–dom</td>
                        <td>40 €</td>
                        <td>90 €</td>
                        <td>50 €</td>
                        <td>110 €</td>
                        <td>60 €</td>
                        <td>130 €</td>
                    </tr>
                </tbody>
            </table>
            <p class="note">(*) Tipologia EBIKE: FRONT: Esempio SPECIALIZED TER, BIANCHI XTYPE, FOCUS JARIFA FULL: Esempio SPECIALIZED TURBO LEVO, FOCUS JAM 2 6.8, THRON Premium: Esempio SPECIALIZED LEVO SL o M5 COMP, FOCUS SAM, MONDRAKER CRAFTY Per bike transfer o transfer bagagli si applica la tariffa di €1/km + IVA PRENOTAZIONE: il servizio viene garantito con almeno 48h di preavviso per noleggio, 72h per la guida MTB</p>
        </div>

        <div class="container2">
            <div class="image"><img src="{%static 'assets/images/TOUR-GUIDATI-NOLEGGIO-E-BIKE.jpg'%}">
            </div>
            <div class="paragraph">
                <h1>
                  
Tour guidati
</h1>

                <p>

                    Un Percorso fruibile in maniera sostenibile 365 giorni l’anno
                    
                    KOM collabora con Guide certificate MTB per l’accompagnamento e l’organizzazione di tour guidati.
                    
                    In questo modo tutti i clienti potranno fruire di percorsi paesaggistici di pregio, punti panoramici mozzafiato, vie storiche e religiose, in un contesto di natura incontaminata.
                    </p>
            </div>
        </div>


        <footer>
            <div class="footer">
                <div class="content-footer">
                    <div class="logo-section">
                        <h1>Sunrise Inn B&B</h1>
                    </div>
                    <div class="address-section" style="color: white;">
                        <p>Torino . LANZO Frazione Gisola 27/C . 10070 Pessinetto (TO)</p>
                        <p>Tel : +39 331 126 8529</p>
                        <p style="margin-top: 1px;">gmail : info@sunriseinn.it</p>
                        <a href="{% url 'HOMEPAGE' %}">
                            <img src="{% static 'assets/images/logo_sunriseinn.png' %}" class='logo-footer' alt="Sunrise Inn Logo">
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="footer">
                <div class="content-footer">
                    <div class="logo-section">
                        <h1>FOLLOW US ON SOCIAL MEDIA</h1>
                    </div>
                    <div>
                        <p style="color: rgb(255, 255, 255); margin-bottom: 10px;">
                            Seguici sui social media per scoprire le nuove offerte e trovare ulteriori informazioni:
                        </p>
                    </div>
                    <div class="icons-socialmedia">
                        <a href="https://www.instagram.com/sunriseinnhotel/">Instagram</a>
                        <a href="https://www.facebook.com/sunriseinnhotel">Facebook</a>
                    </div>
                    <div class="footer-links">
                        <a href="#contact">Contact Us</a> |
                        <a href="{%url 'SERVIZI' %}">About Us</a> |
                        <a href="#privacy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        
            <div class="footer">
                <div class="content-footer">
                    <div class="logo-section">
                        <h1>Iscrivetevi</h1>
                    </div>
                    <div class="newsletter-form">
                        <p>ISCRIVITI PER OFFERTE SPECIALI</p>
                        <form class="form" method="post">
                            {% csrf_token %}
                            <label style='margin-top: 15px;' for="email">Email:</label>
                            <input required placeholder="Enter your email address" name="email" id="email" type="email">
                            <input value="Iscrivetevi" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        
            <!-- Privacy Policy Modal -->
            <div id="privacy-modal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Informativa sulla Privacy</h2>
                    <p>
                        Per avere informazioni circa i tuoi dati personali raccolti, le finalità ed i soggetti con cui i dati vengono condivisi, contatta il Titolare.</p>
                </div>
            </div>
    
    
    
                <div id="contact-modal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <h2>Contact Us</h2>
                        <p>Phone: +39 331 126 8529</p>
                        <p>Email: info@sunriseinn.it</p>
                    </div>
                </div>
            </footer>
            
        
        
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        // Get the modal
        var modal = document.getElementById("privacy-modal");
    
        // Get the link that opens the modal
        var privacyLink = document.querySelector('a[href="#privacy"]');
    
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
    
        // When the user clicks on the link, open the modal
        privacyLink.onclick = function() {
            modal.style.display = "block";
            return false; // Prevent default link behavior
        }
    
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
    
    
    
    document.addEventListener('DOMContentLoaded', (event) => {
        // Get the modals
        var privacyModal = document.getElementById("privacy-modal");
        var contactModal = document.getElementById("contact-modal");
    
        // Get the links that open the modals
        var privacyLink = document.querySelector('a[href="#privacy"]');
        var contactLink = document.querySelector('a[href="#contact"]');
    
        // Get the <span> elements that close the modals
        var closeButtons = document.getElementsByClassName("close");
    
        // When the user clicks on a link, open the corresponding modal
        privacyLink.onclick = function() {
            privacyModal.style.display = "block";
            return false; // Prevent default link behavior
        }
    
        contactLink.onclick = function() {
            contactModal.style.display = "block";
            return false; // Prevent default link behavior
        }
    
        // When the user clicks on a close button, close the corresponding modal
        for (var i = 0; i < closeButtons.length; i++) {
            closeButtons[i].onclick = function() {
                privacyModal.style.display = "none";
                contactModal.style.display = "none";
            }
        }
    
        // When the user clicks anywhere outside of a modal, close it
        window.onclick = function(event) {
            if (event.target == privacyModal || event.target == contactModal) {
                privacyModal.style.display = "none";
                contactModal.style.display = "none";
            }
        }
    });
    
    
    
    </script>
</body>
</html>
